.sidebar {
  position: absolute;
  width: 295px;
  height: 912px;
  background: #F6F6FB;
  flex: 1;
  left: 0px;
  top: -6px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* css for search icon  */
.top {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.circle {
  display: flex;
  position: relative;
  width: 65px;
  height: 65px;
  left: 36px;
  top: 38px;
  border-radius: 50%;
  background: #e17cfd;
  z-index: 1;
}

.innerCircle {
  position: absolute;
  width: 38px;
  height: 38px;
  background: #4cd7f6;
  filter: blur(11.5px);
  left: 45px;
  top: 25px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.searchIcon {
  display: flex;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  width: 30px;
  height: 30px;
  z-index: 3;
}

.top > span {
  position: absolute;
  margin-left: 120px;
  margin-top: 60px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
/* css for side bar   */

.middle,
.bottom {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  display: flex;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
  height: 64px;
  border-right: 0px solid #7166f9;
  &:hover {
    background-color: #ffffff;
    border-right-width: 5px;
  }
}

li > span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.005em;
  padding: 20px;
}

.sidebaricon {
  width: 20px;
  height: 20px;
  padding: 10px;
}
