.group1-wrapper {
  position: absolute;
  width: 241.17px;
  height: 190.52px;
  background: #4cd7f6;
  border-radius: 32px;
  display: flex;
}

.group1-wrapper > .mask {
  position: absolute;
  width: 241.17px;
  height: 190.52px;
  background: #4cd7f6;
  border-radius: 32px;
  filter: blur(2px);
  overflow: hidden;
  display: flex;
}

.group1-wrapper > .mask > .ellipse1 {
  position: absolute;
  width: 120.59px;
  height: 119.07px;
  left: -30px;
  top: -30px;
  background: #e17cfd;
  opacity: 0.9;
  border-radius: 50%;
  filter: blur(36px);
}

.group1-wrapper > .mask > .ellipse2 {
  position: absolute;
  width: 208.01px;
  height: 191.51px;
  left:100px ; 
  top:50px ;
  background: #e17cfd;
  opacity: 0.9;
  border-radius: 50%;
  filter: blur(49.5px); 
}

.group1-wrapper > .text1 {
  position: absolute;
  width: 104.51px;
  height: 37.71px;
  left: 20px;
  top: 85px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #f6f6fb;
}

.group1-wrapper > .graphicon-wrapper {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 30px;
  top: 20px;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.group1-wrapper > .uparrow-wrapper {
  position: absolute;
  width: 120px;
  height: 6.77px;
  left: 160px;
  top: 42px;
  border-radius: 1px;
  display: flex;
  justify-content: cneter;
  align-items: center;
  gap: 5px;
 
}
.group1-wrapper > .uparrow-wrapper > span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.group1-wrapper > .text3 {
  position: absolute;
  width: 80.39px;
  height: 15.88px;
  left: 20px;
  top: 130px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #f6f6fb;
  opacity: 0.72;
}

.group1-wrapper > .question-circle-wrapper {
  position: absolute;
  width: 32.16px;
  height: 31.75px;
  left: 160px;
  top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}



