* {
  margin: 0;
  padding: 0;
}

.App {
  position: absolute;
  width: 100vw;
  height: 900px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  display: flex;
  position: absolute;
  width: 1410px;
  height: 900px;
  background: #ffffff;
}
